*{
	padding:0px;
	margin:0px;
	font-family:'OnePlus Sans Regular','Helvetica Neue',Helvetica,Arial,sans-serif,system-ui;
	font-size:14px;
}


.borderRight{
	border-right:1px solid gray;
}

img{
	width:48px;
	height:48px;
	cursor: pointer;
}

.mainDiv{
	border:1px solid #ffffff;
	background:#f5f5f5;
	display:flex;
	flex-direction:column;
	padding: 24px 24px 34px;
    	width: 540px;
    	height: 550px;
	margin-left:25%;
}

.signupStyle{
	font-size:30px;
	padding-bottom:20px;
}

.innerDiv{
	padding:25px;
}

.phoneNumberPart{
	background:#ffffff;
	padding:15px;
	display:flex;
	gap:5px;
}

input{
	outline:none;
	border:0px;
	background: transparent;
}

.verificationPart{
	background:#ffffff;
	padding:15px;
	display:flex;
	gap:5px;
	margin-top:20px;
	justify-content:space-between;
}

.verification{
	padding:15px;
	display:flex;
	justify-content:space-between;
}

.getCodePart{
	font-size:14px;
	border-left:1px solid gray;
	padding-left:5px;
	color:gray;
	cursor: pointer;
}

.getCodePart:hover{
	color:rgb(0, 123, 255);
}

.continuePart{
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 50px 117px;
	background:rgb(0, 123, 260);
	border-radius:20px;
	color:#ffffff;
	font-size:14px;
	width:50%;
	height:45px;
	cursor: pointer;
}

.pStyle{
	color:rgb(0, 123, 255);
	font-size:12px;
	padding:12px 0px;
	cursor: pointer;
}

.pStyleLast{
	color:gray;
	font-size:12px;
	padding:12px 0px;
	cursor: pointer;
}


.otherWays{
	color:gray;
	font-size:12px;
	display: flex;
	align:center;
}


.otherWays:before,
.otherWays:after {
         content: "";
         flex: 1 1;
         border-bottom: 2px solid gray;
         margin: auto;
}

.otherWaysPart{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	font-size:12px;
	color:gray;
	margin-top:30px;
}

.googleSignUp{
	margin-top: 15%;
	
}

.otherWaysPartMail{
	display:flex;
	flex-direction:column;
	align-items:center;
	cursor: pointer;
}

.extraData{
	display:flex;
	justify-content:space-evenly;
	font-size:12px;
	margin-top:40px;
	cursor: pointer;
}




.password{
    	display: flex;
   	justify-content: center;
    	align-items: center;
	width: 50%;
    	margin: 20px 112px;
    	height: 30px;
    	border-radius: 19px;
	background:#dedede;
	color:#ffffff;
	cursor: no-drop;
}

.forPointer{
	cursor: pointer;
}

a{
	color:#999999;
	text-decoration: none; 
	cursor: pointer;
}

.create{
	border:2px solid #999999; 
	display: flex;
   	justify-content: center;
    	align-items: center;
	width: 50%;
    	margin: 20px 112px;
    	height: 30px;
    	border-radius: 19px;
	background:transparet;
	color:#999999;	
	cursor: pointer;
}




