*{
	font-family:'OnePlus Sans Regular','Helvetica Neue',Helvetica,Arial,sans-serif,system-ui;
}

.heading{
	font-size:28px;
}

.rate{
	font-size:24px;
}

.forWidth{
	width:90%
}


.addToCart{
	font-size:16px;
}


.imgStyle{
	width:480px;
	height:480px;
}

.imgStyleForSmall{
	width:315px;
	height:315px;
}

.imgStyleForMid{
	width:435px;
	height:435px;
}

.imgSize{
	width:20px;
	height:20px;
}

.imgSmallSize{
	width:58px;
	height:58px;
}

.clrGray{
	color:#999999;
}

.imgStyleFullScreen{
	//width:100%;
	
}

.clrWhite{
	color:#ffffff;
}

.forHeight{
	height:50px;
}

ul{
	list-style-type: none;
}

.imgFooter{
	width:20px;
	height:20px;
}

.fontSize14{
	font-size:14px;
}

.fontSize12{
	font-size:12px;
}
footer{
	background:#000000;
	padding:12px;
}